@import url(https://pro.fontawesome.com/releases/v5.15.4/css/all.css);
// ====================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  
}
.wrap {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}
// ====================