* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrap {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

// Imports ---
@import "utility";
@import "main";
@import "mediaQuery";
