* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================================================== */
@media only screen and (max-width: 1200px) {
  /* Large devices [Laptop, Desktop] 992px - 1200px */
}

@media only screen and (max-width: 992px) {
  /* Medium devices [landscapeTablet] 768px - 992px */
}

@media only screen and (max-width: 768px) {
  /* Small devices [Tablet, large Phone] 600px - 768px */
}

@media only screen and (max-width: 600px) {
  /* Extra small devices [Phone] 600px - 0 */
}
