@import "base";
// Default Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  user-select: none;
  // font-size: 62.5%;
}

body {
  font-family: sans-serif;
  // font-size: 1.6rem;
}

textarea,
input {
  font: inherit;
  color: inherit;
}

[-wrap---] {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

// Import other Stylesheets
@import "app";
